
# PARAMETERIZED ALU VERIFICATION REPORT
[ALU_report](https://drive.google.com/file/d/1mb-m-6XI6mO1Y_1SSbrl5fjtTVTvTo-P/view?usp=drive_link)
